name: Publish macOS Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  publish_macos_release:
    name: Generate macOS Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6


      - name: Build & Publish android
        uses: Spaccesi/flutter-actions-suite@main
        with:
          run-test: 'false'
          run-build-runner: 'false'
          run-analyze: 'false'
          run-license: 'false'
          build-platform: 'macos'
          publish-destination: 'store'
          macos-distribution-certificate-base64: ${{ secrets.MACOS_DIST_CERTIFICATE_BASE64 }}
          macos-distribution-certificate-password: ${{ secrets.MACOS_DIST_CERTIFICATE_PASSWORD }}
          macos-installer-certificate-base64: ${{ secrets.MACOS_INSTALLER_CERTIFICATE_BASE64 }}
          macos-installer-certificate-password: ${{ secrets.MACOS_INSTALLER_CERTIFICATE_PASSWORD }}
          macos-provisioning-profile-base64: ${{ secrets.MACOS_PROVISIONING_PROFILE_BASE64 }}
          apple-api-key-id: ${{ secrets.APPLE_API_KEY_ID }}
          apple-api-key-issuer-id: ${{ secrets.APPLE_API_KEY_ISSUER }}
          apple-api-key-content: ${{ secrets.APPLE_API_KEY_CONTENT }}
