name: Publish iOS Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
  workflow_dispatch:

jobs:
  publish_ios_release:
    name: Generate iOS Release
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build & Publish android
        uses: Spaccesi/flutter-actions-suite@main
        with:
          run-test: 'false'
          run-build-runner: 'false'
          run-analyze: 'false'
          run-license: 'false'
          build-platform: 'ios'
          publish-destination: 'store'
          ios-distribution-certificate-base64: ${{ secrets.IOS_DIST_CERTIFICATE_BASE64 }}
          ios-distribution-certificate-password: ${{ secrets.IOS_DIST_CERTIFICATE_PASSWORD }}
          ios-provisioning-profile-base64: ${{ secrets.IOS_PROVISIONING_PROFILE_BASE64 }}
          apple-api-key-id: ${{ secrets.APPLE_API_KEY_ID }}
          apple-api-key-issuer: ${{ secrets.APPLE_API_KEY_ISSUER }}
          apple-api-key-content: ${{ secrets.APPLE_API_KEY_CONTENT }}
      